doctype html
html
  head
      script(src='//code.jquery.com/jquery.js')
      script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react-dom.js')
      script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js")
      link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
    block titleContent
      title Welcome to PostuhPoll
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet', href='/public/css/main.css')
      link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Marvel")
      script(type='text/babel' src='/public/main.js')
      script(src='/public/main2.js')
  
    
  body
    div#top-menu 
      a(href='/') Home
      a(href='/register') Register
      a(href='/login') Login
      a#profileLink(href='/profile')= user
    block bodyContent
      div.container 
        div#top-banner 
          h1 Welcome to 
          h1(style="font-family:impact; color:#4E8191") PostuhPoll
        div#addPoll POST A POLL
        div#createForm 
          form#pollForm(action='/' method='post')
            h3 Enter your question:
            input#questionInput(type='text' name='question')
            h3 Enter your options (enter each on a new line):
            textarea#optionsInput(rows='5' cols='100' name='options')
            br
            br
            button.btn.btn-primary(type='submit') Submit
            button.btn.btn-default#cancelButton Cancel
        hr#line
        div.col-md-3
        div.pollList.col-md-6
        div.col-md-3
        
    
        

  
